docker_compose_from_src/nodered/flows.json
[
    {
        "id": "7b93181b.64a118",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "9ea57b53.f43bb8",
        "type": "tab",
        "label": "postdataset",
        "disabled": false,
        "info": ""
    },
    {
        "id": "940a42b7.4546a",
        "type": "kafka-broker",
        "z": "",
        "broker": "172.24.0.207:9092",
        "clientid": ""
    },
    {
        "id": "31382235.ff3e1e",
        "type": "inject",
        "z": "7b93181b.64a118",
        "name": "Regular update trigger",
        "topic": "",
        "payload": "\"\"",
        "payloadType": "str",
        "repeat": "360000",
        "crontab": "",
        "once": true,
        "x": 210,
        "y": 80,
        "wires": [
            [
                "2f3c0c96.8d6784"
            ]
        ]
    },
    {
        "id": "54da4d8a.e790e4",
        "type": "http request",
        "z": "7b93181b.64a118",
        "name": "Get token",
        "method": "use",
        "ret": "obj",
        "url": "",
        "tls": "",
        "x": 504,
        "y": 193,
        "wires": [
            [
                "4bae0ff.b47d4f",
                "31884234.ebeeee"
            ]
        ]
    },
    {
        "id": "2f3c0c96.8d6784",
        "type": "function",
        "z": "7b93181b.64a118",
        "name": "Prepare retrieval of access token",
        "func": "// prepare API server calls\nglobal.set('api','http://10.4.0.49:3001/api/v3');\n\nmsg.headers={\"content-type\": \"application/json\", \"Accept\": \"application/json\"};\nmsg.payload={\"username\":\"ingestor\",\"password\":\"aman\"};\nmsg.method='POST';\nmsg.url=global.get('api')+'/Users/login';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 295,
        "y": 150,
        "wires": [
            [
                "54da4d8a.e790e4"
            ]
        ]
    },
    {
        "id": "4bae0ff.b47d4f",
        "type": "function",
        "z": "7b93181b.64a118",
        "name": "Store as global variable",
        "func": "global.set(\"accessToken\",msg.payload.id);\nnode.log(\"Updated access token\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "31884234.ebeeee",
        "type": "debug",
        "z": "7b93181b.64a118",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 685,
        "y": 227,
        "wires": []
    },
    {
        "id": "bd89c109.a435f",
        "type": "rdkafka in",
        "z": "9ea57b53.f43bb8",
        "name": "",
        "topic": "the_status_topic",
        "cgroup": "node-red-rdkafka",
        "autocommit": true,
        "broker": "940a42b7.4546a",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "96033446.e1dbc8",
                "eb229d81.65d7b"
            ]
        ]
    },
    {
        "id": "96033446.e1dbc8",
        "type": "debug",
        "z": "9ea57b53.f43bb8",
        "name": "output of kafka",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "eb229d81.65d7b",
        "type": "function",
        "z": "9ea57b53.f43bb8",
        "name": "build dataset`x",
        "func": "// TODO take instrument from definiton provided earlier\nvar instrumentId=\"/PSI/SLS/cSAXS\";\nvar metaData=msg.payload;\nrd={};\n\n// check which information is available\n\n// Get contact details from proposal or eaccount\n\nconsole.log(\"Message payload:\",msg.payload);\nconsole.log(\"Message payload filename:\",msg.payload.filename);\n\n\n   rd.ownerEmail='gg';\n   rd.owner='c';\n   rd.contactEmail='c';\n   rd.principalInvestigator = 'c';\n   rd.proposalId=\"unknown\";\n\n\n// Assume that all tiems are already UTC\n\nrd.creationTime= Date.now();\nconsole.log('no entry field:',rd.creationTime);\nrd.description=\" Attributes:\";\nrd.dataFormat = ' Nexus version:';\n\nrd.sourceFolder='gtrrs';\nrd.orcidOfOwner = 'unknown';\n\nrd.classification = 'AV=medium,CO=low';\nrd.license = 'CC BY-SA 4.0';\nrd.type = 'raw';\nrd.ownerGroup='ess';\nrd.isPublished=false;\nrd.creationLocation = 'gtrsgsrt';\nrd.size='2';\nrd.scientificMetadata=JSON.parse(msg.payload);\n\nmsg.payload=rd;\nmsg.headers={\"content-type\": \"application/json; charset=utf-8\"};\nmsg.method='POST';\nmsg.url=global.get('api')+'/RawDatasets?access_token='+global.get('accessToken');\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "fa2189e5.f41888"
            ]
        ]
    },
    {
        "id": "e3f40d3d.c7409",
        "type": "debug",
        "z": "9ea57b53.f43bb8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 660,
        "y": 440,
        "wires": []
    },
    {
        "id": "fa2189e5.f41888",
        "type": "http request",
        "z": "9ea57b53.f43bb8",
        "name": "",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "e3f40d3d.c7409"
            ]
        ]
    }
]
